@media (max-width: 445px) {
  .first-container .row .col-lg-6 h1 {
    font-size: 40px !important;
    line-height: 40px;
  }
  .first-container .row > .col-lg-6 p {
    font-size: 14px;
    letter-spacing: 0px;
  }
  .first-container .row > .col-lg-6 img {
    height: 50vh;
    width: auto;
    margin-top: 3vh;
  }
  .gray-btn {
    background: transparent;
    border: 3px solid #d5dddd;
    padding: 1.2vh 2vw;
    margin-top: 3vh;
    color: black;
    font-weight: 600;
    width: 280px;
    margin: 1vh 0vw;
  }

  .secondly-container > .row > .col-lg-6 > img {
    width: 80%;
  }
  .secondly-container > .row > .col-lg-6 h1 {
    font-size: 30px;
    line-height: 30px;
  }
  .secondly-container > .row > .col-lg-6 p {
    font-size: 16px;
    margin: 2vh 0vw;
  }
  .secondly-container > .row > .col-lg-6 .row > .col-lg-6 {
    margin: 1vh 0vw;
  }
  .secondly-container > .row > .col-lg-6 .row > .col-lg-6 img {
    width: 40px;
  }
  .secondly-container > .row > .col-lg-6 .row > .col-lg-6 h5 {
    font-size: 15px;
    margin: 0 1vw;
  }
  .secondly-container button {
    margin: 1vh 2vw;
  }

  .sixthty-container {
    margin: 5vh auto;
    background: #1e7fe6;
    border-radius: 50px 0px 50px 0px;
    padding: 4vh 3vw;
    width: 95%;
  }
  .sixthty-container > .first {
    display: flex;
    color: #2cdfd5;
    align-items: center;
    gap: 0vh 0.2vw;
  }
  .sixthty-container > .first > h5 {
    margin: 0;
    font-size: 20px;
  }

  .sixthty-container > .row > .col-lg-6 > div > h1 {
    font-size: 30px;
    color: #fff;
  }
  .sixthty-container > .row > .col-lg-6 > div > form > input {
    background-color: #fff;
    padding: 1vh 1vw;
    width: 250px;
    border-radius: 10px 0px 0px 10px;
  }
  .sixthty-container > .row > .col-lg-6 > div > form {
    margin: 5vh 0vw;
  }
  .sixthty-container > .row > .col-lg-6 > div > form > button {
    background-color: #fff;
    padding: 1vh 1vw;
    border: none;
    background-color: #2cdfd5;
    color: #fff;
    font-weight: 600;
    border-radius: 0px 10px 10px 0px;
  }
  .sixthty-container > .row > .col-lg-6 > div > p {
    color: #fff;
    font-size: 14px;
  }
  .sixthty-container > .row > .col-lg-6 > div > p > a {
    color: #2cdfd5;
  }
  .sixthty-container > .row > .col-lg-6 > img {
    width: 80%;
  }

  /* ----------------------home style---------------------- */
  

  .Home > .first-container .row > .col-lg-6 form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 340px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.178);
    padding: 1vh 1vw;
    border-radius: 10px;
    margin-top: 20px;
  }

  .Home > .first-container .row > .col-lg-6 form button {
    padding: 1vh 2vw;
    font-weight: 500;
  }
  .Home > .companys-logos > img {
    height: 4vh;
    width: 100% !important;
    margin: 5vh 0;
  }

  .Home > .second-container > .row > .col-lg-6 {
    align-items: center;
    justify-content: center;
  }
  .Home > .second-container > .row > .col-lg-6 h1 {
    font-size: 30px;
  }
  .Home > .second-container > .row > .col-lg-6 p {
    font-size: 16px;
    margin: 2vh 0vw;
  }
  .Home > .second-container > .row > .col-lg-6 img {
    width: 80%;
    margin: 1vh auto;
  }

  .Home > .forth-container > h1 {
    font-size: 25px;
  }
  .Home > .forth-container > p {
    font-size: 16px !important;
  }
  .Home > .forth-container > .row > .col-lg-3 {
    width: 93%;
    margin: 2vh auto;
    padding: 2vh 4vw;
    border-radius: 40px 0px 40px 0px;
  }

  .Home > .forth-container > .row > .col-lg-3 .d-flex img {
    width: 40px;
    border-radius: 50%;
  }
  .Home > .forth-container > .row > .col-lg-3 .d-flex > div > h3 {
    font-size: 18px;
    margin: 0;
  }
  .Home > .forth-container > p {
    font-size: 18px;
  }
  .About .thrid-container h1 {
    font-size: 30px;
  }
  
.About > .thrid-container > .row > .col-lg-3  {
  width: 30%;
  margin: 2vh auto;
  padding: 2vh 4vw;
  border-radius: 40px 0px 40px 0px;
}
.About > .thrid-container > .row > .col-lg-3  div{
  padding: 1vh 2vw;
}
.About > .thrid-container > .row > .col-lg-3  p{
  margin: 4vh 2vw;
}
.About > .thrid-container > .row > .col-lg-3 {
  width: 90%;
  margin: 2vh auto;
  padding: 2vh 1vw;
  border-radius: 30px 0px 30px 0px;
}
  .Services .forth-container > .container > h1 {
    font-size: 30px;
  }
  .Services .forth-container > .container > p {
    font-size: 16px;
  }

  .Services > .forth-container > .container > .row > .col-lg-4 {
    width: 95%;
    margin: 1vh auto;
    border: 1px solid #b0b0b0;
    border-radius: 30px 0px 30px 0px;
    padding: 2vh 2vw;
  }
  .Services > .forth-container > .container > .row > .col-lg-4 > .d-flex {
    align-items: center;
    margin: 2vh 0vw;
  }
  .Services > .forth-container > .container > .row > .col-lg-4 > .d-flex > img {
    width: 50px;
    border-radius: 50%;
  }
  .Services
    > .forth-container
    > .container
    > .row
    > .col-lg-4
    > .d-flex
    > div
    > h4 {
    margin: 0;
    font-size: 20px;
    padding: 0;
  }
  .Services > .forth-container > .container > .row > .col-lg-4 > p {
    font-size: 16px;
    margin: 0;
  }
  .job-form > .second-container > .row > .row {
    padding: 0;
    margin: auto;
  }
  .job-form > .second-container .img {
    display: none;
  }
  .job-form > .second-container > .row {
    box-shadow: 0px 0px 10px 0px var(--box-shadow);
    padding: 0;
    border-radius: 20px;
  }

  .job-form > .second-container .row .col-lg-6 {
    width: 95%;
    margin: 1vh auto;
    box-shadow: 0px 0px 10px 0px var(--box-shadow);
    border-radius: 10px;
    height: 10vh;
    padding: 2vh 2vw;
  }
  .job-form > .second-container .row > button {
    width: 180px;
    background: #ff6b6b;
    padding: 1vh 1vw;
    color: #fff;
    font-weight: 700;
    margin: 2vh auto;
  }

  .form {
    min-height: 150vh;
    margin-top: 10vh;
    display: grid;
    align-items: center;
  }

  .form > .row > .col-lg-4 {
    margin: 5vh auto;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 10px 0px var(--box-shadow);
    padding: 2vh 3vw;
    height: auto;
    border-radius: 20px;
    transition: 0.8s;
    width: 90%;
  }

  .contact > .second-container {
    margin: 5vh auto;
    background-image: linear-gradient(#fff 90%, #1e7fe6 10%);
    padding: 6vh 2vw;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.171);
    width: 95%;
  }

  .contact > .second-container > .row > .col-lg-6 > div > h1 {
    font-size: 30px;
  }
  .contact > .second-container > .row > .col-lg-6 > div > h1 > span {
    color: #1e7fe6;
  }
  .contact > .second-container > .row > .col-lg-6 > div > p {
    font-size: 14px;
  }
  .contact > .second-container > .row > .col-lg-6 > div > form > input {
    width: 100%;
    border: 1px solid #d5dddd;
    margin: 1vh auto;
    padding: 1vh 0.5vw;
  }
  .contact > .second-container > .row > .col-lg-6 > div > form > select {
    width: 100%;
    border: 1px solid #d5dddd;
    padding: 1vh 0.5vw;
    margin: 1vh auto;
  }
  .contact > .second-container > .row > .col-lg-6 > div > form > select:focus {
    border: 1px solid #d5dddd;
  }
  .contact > .second-container > .row > .col-lg-6 > div > form > button {
    width: 100%;
    padding: 1vh;
    background: #ff6d6d;
    font-size: 18px;
    color: #fff;
    border: none;
    font-weight: 700;
  }
  .contact > .second-container > .row > .col-lg-6 > div > .row {
    margin: 2vh 0vw;
  }
  .contact > .second-container > .row > .col-lg-6 > div > .row > .d-flex {
    align-items: center;
    gap: 0vh 1vw;
  }
  .contact > .second-container > .row > .col-lg-6 > div > .row > .d-flex i {
    font-size: 18px;
  }
  .contact > .second-container > .row > .col-lg-6 > div > .row > .d-flex h6 {
    margin: 0;
    padding: 0;
    font-size: 15px;
  }
  .contact > .second-container > .row > .col-lg-6 > div > .row > .d-flex p {
    margin: 0;
    font-size: 12px;
  }
  .contact > .second-container iframe {
    width: 100%;
    height: 40vh;
    border-radius: 0px 0px 20px 20px;
  }
  footer {
    padding: 5vh 2vw !important;
  }
  footer section {
    margin: 10vh;
  }
  footer li {
    font-size: 14px;
  }
}
